<h1>Reports</h1>
<% @date = Date.today unless defined?(@date) %>
<%= form_with url: reports_path, method: :get do |form| %>
  <%= form.label :date %>
  <%= form.date_field :date, value: @date %>
  <%= form.submit "Go" %>
<% end %>
<% if @orders.empty? %>
  No paid orders found
<% else %>
  <% total_income = @orders.pluck(:total_price).sum %>
  <h3>Total Income = <%= "Rp#{number_with_delimiter(total_income)}" %></h3>
  <div id="reports">
    <% @orders.each do |order| %>
      <hr>
      <%= render order %>
    <% end %>
  </div>
<% end %>
